/* Применение стилей к таблице */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Стили для заголовка таблицы */
.table thead th {
  padding: 8px;
  text-align: center;
}

/* Стили для ячеек таблицы */
.table tbody td {
  padding: 8px;
  text-align: center;
}

/* Стили для четных строк таблицы */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Стили для ночной оплаты */
.table tbody td:last-child {
  font-weight: bold;
  color: #00a300; /* Зеленый цвет для ночной оплаты */
}

.help-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}