{% load static %}
<link rel="stylesheet" href="{% static 'css/add_wash.css' %}">

<div class="container">
    <div class="row">
	
	<div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-3" style="background-color: #ebebeb">
        <div class="card-header">
          <strong>Информация о мойке</strong>
        </div>
        <div class="card-body">
            <form id="update_data" method="post" action="{% url 'add_wash' %}" class="box">
                {% csrf_token %}
                <div class="form-section">
                    <div class="form-group">
                        <label for="grz" class="label-form">ГРЗ</label>
                        {{ form.grz }}
                    </div>
                    <div class="form-group">
                        <label for="mark" class="label-form">Марка</label>
                        {{ form.mark }}
                    </div>
                    <div class="form-group">
                        <label for="car_class" class="label-form">Класс</label>
                        {{ form.car_class }}
                    </div>
                    <div class="form-group">
                        <label for="washman" class="label-form">Мойщик</label>
                        {{ form.washman }}
                    </div>
                    <div class="form-group">
                        <label for="pay" class="label-form">Оплата</label>
                        {{ form.pay }}
                    </div>
                </div>
				{{ demo.grz }}
                <div class="form-section">
				<div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="dry" id="flexSwitchCheckDefault1">
                    <label class="form-check-label" for="flexSwitchCheckDefault1">Химчистка</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="polishing" id="flexSwitchCheckDefault2">
                    <label class="form-check-label" for="flexSwitchCheckDefault2">Полировка</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="night" id="flexSwitchCheckDefault3">
                    <label class="form-check-label" for="flexSwitchCheckDefault3">Ночная</label>
                </div>
                </div>

                <div class="form-section">
				<div class="form-group">
                <label for="service" class="label-form">Услуги</label>
                {{ form.service }}
            	</div>
            	<div class="form-group">
                <label for="sale" class="label-form">Скидка</label>
                {{ form.sale }}
            	</div>
            	<div class="form-group">
                <label for="add" class="label-form">Доплата</label>
                {{ form.add }}
            	</div>
                </div>
				
                <div class="form-footer">
                    <button type="submit" class="btn btn-dark" name="add_wash">Добавить мойку</button>
                    <button type="submit" class="btn btn-dark" name="preview_wash">Предпросмотр</button>
                </div>
		
            </form>
        </div>
      </div>
    </div>
		
		
		
	<div class="col-md-6">
      <div class="card mb-3" style="background-color: #ebebeb">
        <div class="card-header">
          <strong>Информация о складе</strong>
        </div>
        <div class="card-body">
			<form id="update_stock" method="post" action="{% url 'add_stock_cons' %}" class="box">
                {% csrf_token %}
                <div class="form-section">
                    <div class="form-group">
                        <label for="stock" class="label-form">Предмет</label>
                        {{ form.stock }}
                    </div>
                    <div class="form-group">
                        <label for="quant" class="label-form">Количество</label>
                        {{ form.quant }}
                    </div>
                    <div class="form-group">
                        <label for="quant" class="label-form">Тип оплаты</label>
                        {{ form.pay }}
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-dark" name="add_stock">Добавить склад</button>
                    <button type="submit" class="btn btn-dark" name="preview_stock">Предпросмотр</button>
                </div>
			  </form>
			  <h5>Остаток скалада</h5>
                <div class="table-container">
				  <table class="table table-success table-bordered">
				    <thead class="thead-dark">
				      <tr>
				        <th scope="col">Предмет</th>
				        <th scope="col">Кол-во</th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for obj in stock %}
				      <tr>
				        <td>{{ obj.name }}</td>
				        <td>{{ obj.quantity }}</td>
				      </tr>
				      {% endfor %}
				    </tbody>
				  </table>
				</div>
                <br>
                <h5>Продажи склада</h5>
                <div class="table-container">
				  <table class="table table-success table-bordered">
				    <thead class="thead-dark">
				      <tr>
				        <th scope="col">Предмет</th>
				        <th scope="col">Кол-во</th>
				        <th scope="col">$</th>
				        <th scope="col"></th>
				      </tr>
				    </thead>
				    <tbody>
					{% for obj in stock_consumption %}
					<tr>
					  <td>{{ obj.stock.name }}</td>
					  <td>{{ obj.quantity }}</td>
					  <td>{{ obj.money }}</td>
					  <td>
					    <button class="help-button" data-bs-toggle="modal" data-bs-target="#modalstock-{{ obj.id }}">
					      <img src="{% static 'images/help.svg' %}" alt="Помощь" width="20" height="20">
					    </button>
					  </td>
					</tr>
					<!-- Модальное окно -->
					  <div class="modal fade" id="modalstock-{{ obj.id }}" style="text-align: center;" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-header">
					          <h1 class="modal-title fs-5">Отчёт склада №{{ obj.id }}</h1>
					          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
					        </div>
							<div class="modal-body">
							  <div class="row mb-3">
							    <div class="col">
							    <strong>Информация:</strong>
								<ul class="list-group">
								  <li class="list-group-item list-group-item-info"><strong>Товар:</strong> {{ obj.stock.name }}</li>
								  <li class="list-group-item list-group-item-info"><strong>Количество:</strong> {{ obj.quantity }}</li>
								  <li class="list-group-item list-group-item-info"><strong>Тип оплаты:</strong> {{ obj.pay }}</li>
								  <li class="list-group-item list-group-item-info"><strong>Стоимость:</strong> {{ obj.money }}</li>
								</ul>
							    </div>
							  </div>
							
							  <div class="row mb-3">
							    <div class="col">
							    	<form id="req-stock-desc" method="post" action="{% url 'add_req_stock' %}" class="box">
										{% csrf_token %}
								      	<input name="rw-id" type="hidden" value="{{ obj.id }}"></input>
									    <strong>Описание проблемы и ее причин:</strong><br>
									    {{ req_stock_form.description }}
								        <div class="modal-footer">
								        	<button type="submit" class="btn btn-dark">Отправить</button>
								        </div>
								    </form>
							    </div>
							  </div>
					      </div>
					    </div>
					  </div>
					{% endfor %}
				    </tbody>
				  </table>
				</div>
			        </div>
			      </div>
			    </div>
			  </div>
    </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('washForm');

    form.addEventListener('submit', function(event) {
      var action = event.submitter.value;
      
      // Добавьте скрытое поле с именем 'action', чтобы передать действие в ваш представление
      var actionInput = document.createElement('input');
      actionInput.type = 'hidden';
      actionInput.name = 'action';
      actionInput.value = action;
      form.appendChild(actionInput);
    });
  });
</script>

